:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
}


*, ::before, ::after{
    box-sizing:inherit;
}

.body {
    background-color: #FDFEFB;
}
.mainContainer {
    display: flex;
    background-color: #F1FAF0;
}

.contentContainer {
    width: 70%;
    background-color: #C29547;
    border-radius: 0.5em;
    padding: 1em;
}

.menuContainer{
    width: 30%;
    background-color: #C29547;
    margin-left: 1.5em;
    border-radius: 0.5em;
    padding: 1em;
}

.messageCard{
    border: 1px #3A3A3A;
    transform: scale(0.8);
}

.messageCard:only-child{
    width: 30em;
    transform: scale(0.5);
}